In [1]:
import pandas as pd

In [2]:
ls

 2709_38454_bundle_archive.zip
 activatingenvs
 Anaconda2-2019.10-Linux-x86_64.sh
 Anaconda3-2020.07-Linux-x86_64.sh
 california_housing_train.csv
 CRD_stats_report_2020-05-21_18-06-30.txt
 create_env
 cvcourse_linux.yml
 DeepLearningCV/
 deepstream-5.0_5.0.0-1_amd64.deb
 envesltest.yml
 envESL.yml
 envname.yml
 env.yml
'[FreeCourseSite.com] Udemy - Python for Computer Vision with OpenCV and Deep Learning'/
 google-chrome-stable_current_amd64.deb
 Mel/
 Miniconda3-latest-Linux-x86_64.sh
 node-v14.9.0-linux-x64/
 node-v14.9.0-linux-x64.tar.xz
 NumpyArray.ipynb
 price_label/
 Python-3.6.6/
'RAFI Final REVISED REPORT IMV-2.pdf'
 RSTOTEG00061132_JCO4032.enc
'Screenshot 2020-05-17 at 10.32.03 AM.png'
 Selecting_Data_for_Modelling.ipynb
 svgson-cli-master/
 svgson-cli-master.zip
 svgson-master/
 svgson-master.zip
 test.py
'UST Robot-20200817T170240Z-001.zip'

In [3]:
cd Mel

/home/rafistark/Downloads/Mel

In [4]:
mel_file_path='/home/rafistark/Downloads/Mel/melb_data.csv'

In [5]:
mel_data=pd.read_csv(mel_file_path)

In [6]:
mel_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [7]:
mel_data=mel_data.dropna(axis=0)

In [8]:
y=mel_data.Price

In [9]:
mel_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [10]:
X=mel_data[mel_features]

In [11]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [12]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [13]:
from sklearn.tree import DecisionTreeRegressor

In [14]:
mel_model =DecisionTreeRegressor(random_state=1)

In [15]:
mel_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [18]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(mel_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [19]:
#Model Building exercise

In [20]:
ls

melb_data.csv

In [21]:
cd

/home/rafistark

In [22]:
cd /home/rafistark/Downloads/ML\ practice

/home/rafistark/Downloads/ML practice

In [23]:
ls

train.csv

In [24]:
iowa_file_path='/home/rafistark/Downloads/ML practice/train.csv'

In [25]:
home_data=pd.read_csv(iowa_file_path)

In [26]:
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [27]:
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [28]:

home_features=['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']
X=home_data[home_features]

In [32]:
y=home_data.SalePrice

In [33]:
from sklearn.tree import DecisionTreeRegressor

In [34]:
iowa_model=DecisionTreeRegressor(random_state=1)

In [35]:
iowa_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [36]:
print(iowa_model.predict(X))

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [37]:
print(iowa_model.predict(X.head()))#For only the selected features

[208500. 181500. 223500. 140000. 250000.]

In [38]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [39]:
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [40]:
pwd

'/home/rafistark/Downloads/ML practice'

In [41]:
cd ..

/home/rafistark/Downloads

Model Evaluation

In [43]:
from sklearn.metrics import mean_absolute_error
predicted_home_prices=mel_model.predict(X)